<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="initial-scale=1, width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1, user-scalable=no" media="(device-height: 568px)">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index2.css">
    <script src="../js/common.js"></script>
</head>
<body>
    <h1>网站正在升级中...</h1>
    <img src="../content/images/work_2.png" alt="">
    <p>请您稍后访问，谢谢!</p>
</body>
</html>